# ide files to ignore
nbproject
.idea/*
*plugin.xml
/vendor
/vagrant/.vagrant

# runtime folders to ignore
/logs
/htdocs/assets
/protected/runtime
/protected/extensions

# configuration files to ignore
/protected/config/main.local.php
/protected/config/console.local.php
/protected/config/test.local.php
